<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Item</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4" th:text="${item.id == null ? 'Criar Novo Item' : 'Editar Item'}"></h1>
        <form th:action="@{${item.id == null} ? '/itens/novo' : '/itens/editar/' + ${item.id}}" th:object="${item}" method="post">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" th:field="*{titulo}" required/>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" class="form-control" id="descricao" th:field="*{descricao}" required/>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control" id="estado" th:field="*{estado}">
                    <option value="PENDENTE">Pendente</option>
                    <option value="CONCLUIDO">Concluído</option>
                    <option value="CANCELADO">Cancelado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="prioridade">Prioridade:</label>
                <input type="number" class="form-control" id="prioridade" th:field="*{prioridade}" required/>
            </div>
            <div class="form-group">
                <label for="lista">Lista:</label>
                <select class="form-control" id="lista" name="listaId">
                    <option th:each="lista : ${listas}" th:value="${lista.id}" th:text="${lista.nome}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-secondary" href="/itens">Cancelar</a>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
