<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Itens</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Lista de Itens</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Prioridade</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${itens}">
                    <td th:text="${item.titulo}"></td>
                    <td th:text="${item.descricao}"></td>
                    <td th:text="${item.estado}"></td>
                    <td th:text="${item.prioridade}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/itens/editar/{id}(id=${item.id})}">Editar</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/itens/deletar/{id}(id=${item.id})}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-success" href="/itens/novo">Novo Item</a>
        <a class="btn btn-secondary" href="/listas">Voltar para as listas</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>